$ghost-body-color: black;
$ghost-face-color: white;
$ghost-feet-top: 132px;

body {
    background-color: chocolate;
    align-items: left;
    margin: 50px 0 0 30px;
    padding: 0;
    justify-content: left;
    display: flex;
    height: 100%;

    #ghost {
        height: 160px;
        width: 140px;
        background-color: $ghost-body-color;
        border-radius: 70px 70px 0px 0px;
        position: relative;
        cursor: pointer;
        animation: levitate 2s infinite ease-in-out;

        #head {
            position: absolute;
            height: 80px;
            width: 90px;
            top: 20px;
            left: 25px;

            #eyes {
                display: flex;

                span {
                    height: 20px;
                    width: 45px;
                    border-radius: 50%;
                    background-color: $ghost-face-color;
                    position: relative;
                    margin: 15px;
                    transition: .3s linear;
                }
            }

            #mouth {
                height: 20px;
                width: 40px;
                border-radius: 0 0 20px 20px;
                background-color: $ghost-face-color;
                margin: auto;
                transition: .3s linear;
            }
        }

        #hands {
            width: 180px;
            background-color: $ghost-body-color;
            position: absolute;
            justify-content: space-around;
            top: 90px;
            left: -20px;
            display: flex;
            border-radius: 70px;

            span {
                width: 20px;
                height: 30px;
                background-color: $ghost-body-color;
            }
        }

        #feet {
            span {
                width: 35px;
                height: 50px;
                background-color: $ghost-body-color;
                border-radius: 25px;
                display: block;
                top: 130px;
                position: absolute;
            }

            span:nth-child(2) {
                top: $ghost-feet-top;
                left: 35px;
            }

            span:nth-child(3) {
                top: $ghost-feet-top;
                left: 70px;
            }

            span:nth-child(4) {
                top: $ghost-feet-top;
                left: 105px;
            }
        }
    }
}


@keyframes levitate {
    50% {
        transform: translateY(-30px);
    }
}